In this example, I will demonstrate how to create application on top of LLM. I am going to use OpenAI GPT-3.5 model to build query translator from natural language to SQL query.

In [23]:
from langchain.llms import OpenAI
from langchain import OpenAI, SQLDatabase, SQLDatabaseChain, LLMChain, GoogleSearchAPIWrapper, BasePromptTemplate
from langchain.prompts.prompt import PromptTemplate
from sqlalchemy.engine import create_engine
import pandas as pd
import os

%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [6]:
db_host = os.environ["MYSQL_DB_HOST"]
db_port = os.environ["MYSQL_DB_PORT"]
db_username = os.environ["MYSQL_DB_USER"]
db_password = os.environ["MYSQL_DB_PASSWD"]

In [8]:
conn_str = "mysql+pymysql://{}:{}@{}:{}/omni_copilot".format(db_username, db_password, db_host, db_port)
engine = create_engine(conn_str)
%sql engine

In [10]:
%%sql
SELECT * FROM omni_monthly_for_copilot LIMIT 10

Running query in 'mysql+pymysql://eureka_spectrum:***@192.168.6.167:31336/omni_copilot'

10 rows affected.

+--------------+---------------------+-------------------+------------+-----------+-------------------+------------+-----------+------------------+--------+
| active_users |  activity_district  | activity_province | age_bucket |   gender  |    application    | engagement | intensity | longevity_bucket | month  |
+--------------+---------------------+-------------------+------------+-----------+-------------------+------------+-----------+------------------+--------+
|      16      | Central And Western |     Hong Kong     | (default)  | (default) |        ALL        |   (none)   |   (none)  |      (none)      | 202304 |
|      1       | Central And Western |     Hong Kong     | (default)  | (default) | Openrice Takeaway |   (none)   |   (none)  |      (none)      | 202304 |
|      1       | Central And Western |     Hong Kong     |   (none)   | (default) |        ALL        |   (none)   |   (none)  |      Loyal       | 202303 |
|      2       | Central And Western |     Hong Kong     |   (none)   | (default) |        ALL        |   (none)   |   (none)  |      Loyal       | 202304 |
|      1       | Central And Western |     Hong Kong     |   (none)   | (default) |        ALL        | Incidental |    Low    |      Loyal       | 202303 |
|      1       | Central And Western |     Hong Kong     |   (none)   | (default) |        ALL        | Incidental |    Low    |      Loyal       | 202304 |
|      2       | Central And Western |     Hong Kong     |   (none)   | (default) |        ALL        | Incidental |    Low    |       New        | 202303 |
|      2       | Central And Western |     Hong Kong     |   (none)   | (default) |        ALL        | Incidental |    Low    |    Transition    | 202305 |
|      2       | Central And Western |     Hong Kong     |   (none)   | (default) |        ALL        |    Low     |    Low    |      Loyal       | 202304 |
|      3       | Central And Western |     Hong Kong     |   (none)   | (default) |        ALL        |    Low     |    Low    |      Loyal       | 202305 |
+--------------+---------------------+-------------------+------------+-----------+-------------------+------------+-----------+------------------+--------+

In [14]:
# lets create an example of LLM application: query db with natural language

openai_llm = OpenAI(temperature=0, openai_api_key=os.environ["OPENAI_API_KEY"])
input_db = SQLDatabase.from_uri(conn_str)
db_agent = SQLDatabaseChain(llm = openai_llm,
                             database = input_db,
                             verbose=True, 
                             return_direct=False)

/opt/conda/envs/ds2_v3_2/lib/python3.10/site-packages/langchain/chains/sql_database/base.py:63: UserWarning: Directly instantiating an SQLDatabaseChain with an llm is deprecated. Please instantiate with llm_chain argument or using the from_llm class method.
  warnings.warn(

In [34]:
db_agent.run("sum active users for FoodPanda application in Kowloon at latest month")

> Entering new  chain...
sum active users for FoodPanda application in Kowloon at latest month
SQLQuery:SELECT SUM(active_users) FROM omni_monthly_for_copilot WHERE application = 'FoodPanda' AND activity_province = 'Kowloon' AND month = (SELECT MAX(month) FROM omni_monthly_for_copilot)
SQLResult: [(Decimal('965'),)]
Answer:965
> Finished chain.

'965'

In [19]:
# lets build LLM application with prompt engineering from scratch

TRANSFORM_TEMPLATE = """
Given a {dialect} table name `{table_name}` with the following columns:
```
{columns}
```
Write a {dialect} SQL query to retrieve: {desc}
The answer MUST contain query only. Ensure your answer is correct.
"""

TRANSFORM_PROMPT = PromptTemplate(
    input_variables=["table_name", "columns", "desc", "dialect"], template=TRANSFORM_TEMPLATE
)
transform_chain = LLMChain(llm=openai_llm, prompt=TRANSFORM_PROMPT)
columns = "active_users, activity_district, activity_province, age_bucket, gender, application, engagement, intensity, longevity_bucket, month"

In [45]:
sql_query = transform_chain.run(table_name="omni_monthly_for_copilot", 
                    columns=columns, 
                    desc="sum active users for FoodPanda application in Kowloon at latest month", dialect="mysql")

In [46]:
import re
def _extract_code_blocks(text):
    code_block_pattern = re.compile(r"```(.*?)```", re.DOTALL)
    code_blocks = re.findall(code_block_pattern, text)
    if code_blocks:
        # If there are code blocks, strip them and remove language specifiers.
        extracted_blocks = []
        for block in code_blocks:
            block = block.strip()
            if block.startswith("python"):
                block = block.replace("python\n", "", 1)
            elif block.startswith("sql"):
                block = block.replace("sql\n", "", 1)
            extracted_blocks.append(block)
        return extracted_blocks
    else:
        # If there are no code blocks, treat the whole text as a single block of code.
        return [text]

In [47]:
_extract_code_blocks(sql_query)[0]

"SELECT SUM(active_users) \nFROM omni_monthly_for_copilot \nWHERE application = 'FoodPanda' \nAND activity_district = 'Kowloon' \nAND month = (SELECT MAX(month) FROM omni_monthly_for_copilot);"

In [31]:
# depend on prompt that given even for same task, the LLM could return the answer differently. 
# In this case, it was mistakenly identify "Kowloon" as activty_district rather than activity_province.
# Therefore, the query was wrong and return nothing.

pd.read_sql(_extract_code_blocks(sql_query)[0], con = conn_str)

Empty DataFrame
Columns: [active_users]
Index: []

In [48]:
# to fix this, we must explicitly tell Kowloon is province in the prompt query

sql_query = transform_chain.run(table_name="omni_monthly_for_copilot", 
                    columns=columns, 
                    desc="sum active users for FoodPanda application in Kowloon province at latest month", dialect="mysql")

In [49]:
_extract_code_blocks(sql_query)[0]

"SELECT SUM(active_users) \nFROM omni_monthly_for_copilot \nWHERE application = 'FoodPanda' \nAND activity_province = 'Kowloon' \nAND month = (SELECT MAX(month) FROM omni_monthly_for_copilot);"

In [50]:
pd.read_sql(_extract_code_blocks(sql_query)[0], con = conn_str)

   SUM(active_users)
0              965.0